librosa~=0.10.2.post1
tensorflow>=2.16
scikeras==0.13.0
scikit-learn~=1.5.2
jupyter
notebook
pandas~=2.2.3
numpy~=2.0.2
matplotlib~=3.9.2
click~=8.1.7
tqdm~=4.66.5

setuptools~=75.2.0
absl-py~=2.1.0
keras~=3.6.0